@charset "UTF-8";

body {
    background: white url(pacote-d013/imagens/fundo-madeira.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

img.iphone {
    position: relative;
    display: inline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

iframe {
    position: absolute;
    top: 50.2%;
    left: 50.1%;
    transform: translate(-50.1%, -50.2%);
    height: 470px;
    width: 267px;
    overflow: hidden;
}

iframe > html > body {
    margin: 0;
}

img.apps {
    border-radius: 99px;
    width: 50px;
    position: absolute;
    left: 98%;
    transform: translate(-95%);
}

img.apps:hover {
    box-shadow: 4px 0 15px 1px rgb(0, 0, 0);
    left: 97%;
    border: 3px solid rgb(0, 0, 255);
    transition: 1.5s all;
    border: 1px solid white;
}

.apps1 {
    top: 21%;
}

.apps2{
    top: 31.2%;
}

.apps3 {
    top: 41.4%;
}

.apps4 {
    top: 51.6%;
}

.apps5 {
    top: 61.8%;
}

.apps6 {
    top: 72%
}

