@charset "UTF-8";

html, body {
    scrollbar-width: none; /* Firefox */  
}

iframe::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

img {
    width: 267px;
}

a {
    display: block;
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}